.project {
  position: relative;
  margin-top: 60px; /* Adjust this to move the project cards down */
}

.project-content {
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 500px; 
  height: 250px; 
  object-fit: cover;
  border-radius: 20px;
  margin: .1px; 
  transition: transform 0.5s ease;
}

.project-content:hover .project-image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity:0;
}

.project-content:hover .overlay {
  opacity:1;
  height: 100%;
}

.project-title {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-links {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.project-links a {
  color: white;
  padding: 5px;
  transition: color .5s;
}

.project-links a:hover {
  color: #ccc;
}