.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #144272;
    padding: .5rem;
    font-size: medium;
  }
  
  .header h1 {
    color: #fff;
    margin: 0;
  }
  