.footer {
  background-color: #13b1d8;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #e9ece3;
  text-decoration: none;
  margin: 0 1rem;
}

.footer a:hover {
  color: #e9cdcd;
}