.about-me {
  padding: 2rem;
  display: flex;
  flex-direction: column;

 color:white
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;

}

.about-me-content {
  display: flex;
  align-items: center;

}

.about-me img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 2rem;
}

.about-me p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-display: white;
}

@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    align-items: center;
  }

  .about-me img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}